h1
{
	margin: 0;
	padding: 0.5em;
}

footer
{
	padding-bottom:10px;
}

svg.icon
{
    height: 18px;
}

.App
{
	text-align: center;
	background: url('./static/crystal-candy-bg-top-e64823cff8.jpg') no-repeat top,url('./static/crystal-candy-bg-bottom-00cdaf6844.jpg') no-repeat bottom;
}

.group
{
	padding-bottom: 15px;
}

.groupname
{
	text-align: left;
    padding: 0;
    margin: 0;
    padding-left: 32px;
	background: linear-gradient(
		125deg,
		orange 0px 100px,
		transparent 50%
	);
	background-repeat: no-repeat;
}

.hero
{
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
}

img.portrait 
{
	display: block;
	height: 128px;
	width: auto;
}

.colouredboxes
{
	display: block;
}

.colouredboxes .colourbox-container
{
	display: inline-block;
	width: 100px;
	cursor: pointer;
}

.colourbox
{
	display: block;
	box-sizing: border-box;
	height: 25px;
	border: 2px solid black;
	cursor: pointer;
}

.colourbox:not(:first-child)
{
	margin-top: 5px;
}

.text.creamy-red
{
	color: #ed1c24;
}

.text.creamy-blue
{
	color: #2e1fb6;
}

.text.creamy-purple
{
	color: #924192;
}

.text.creamy-orange
{
	color: #ff8040;
}

.bg.creamy-red
{
	background-color: #ed1c24;
	color: #ed1c24;
}

.bg.creamy-blue
{
	background-color: #2e1fb6;
	color: #2e1fb6;
}

.bg.creamy-purple
{
	background-color: #924192;
	color: #924192;
}

.bg.creamy-orange
{
	background-color: #ff8040;
	color: #ff8040;
}

.screenshot
{
	position: fixed;
    bottom: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: #a7b2d2;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-transform: translate(-50%, -50%);
    cursor: pointer;
}

.screenshot img
{
	margin: 0;
    width: 30px;
    height: 30px;
}

.saveshot
{
	background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999998;
    width: 100%;
    height: 100%;
}

.saveshot canvas
{
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 1;
    transform: scale(0.8);
    z-index: 99999999;
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s, opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s, -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s;
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}

.closeshot
{
	cursor: pointer;
	position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}